# Exclude big files
data*/
output/archive/
*.pickle

# Only track diliverables
doc/*
!doc/Customer Feedback Topic Modeling*.pdf

# Others
*.ipynb
__pycache__/
.ipynb_checkpoints/
.idea/
spark-warehouse/
tmp/

