# Exclude big files
data*/
output/archive/

# Only track diliverables
doc/*
!doc/Customer Feedback Topic Modeling*.pdf

# Others
*.pickle
.ipynb_checkpoints/
.idea/
spark-warehouse/
tmp/

