# Exclude big files
data*/
output/archive/
*.pickle
test/test_output

# Track deliverables
doc/*
!doc/Customer Feedback Topic Modeling*.pdf

# Others
*.ipynb
__pycache__/
spark-warehouse/
tmp/
.*/

# Include
!*.sty
!*.tex
!*.docx
!.git